.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# Dados locais
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Arquivos gerados
*.csv
*.parquet
*.xlsx
*.json

.DS_Store
Thumbs.db